<section class="section section-aboutme" id="aboutme">
    <div class="container container-aboutme">
        <h2 class="visually-hidden">About me</h2>

        <ul class="content-list-aboutme">
            <li class="content-item-aboutme text">
                <h3 class="aboutme-title">
                    I work with people all over the world to create impressive and
                    <span class="span-functional">functional</span>
                    <span class="span-websites">websites</span>
                    that reflect each client's unique personality.
                </h3>
            </li>
            <li class="content-item-aboutme">
                <picture class="picture-aboutme">
                    <source 
                        srcset="../img/ImgAboutMe/imageabout-me.desk.jpg 1x,
                                ../img/ImgAboutMe/image@2xabout-me.desk.jpg 2x" 
                        media="(min-width: 1440px)">
                    <source 
                        srcset="../img/ImgAboutMe/imageabout-me.tab.jpg 1x,
                                ../img/ImgAboutMe/image@2about-me.tab.jpg 2x" 
                        media="(min-width: 768px)">
                    <source 
                        srcset="../img/ImgAboutMe/imageabout-me.mobile.jpg 1x,
                                ../img/ImgAboutMe/image@2xabout-me.mobile.jpg 2x" 
                        media="(max-width: 767px)">
                    <img 
                        src="../img/ImgAboutMe/imageabout-me.mobile.jpg" 
                        alt="My photo" 
                        class="aboutme-img">
                </picture>
            </li>
        </ul>
    </div>
</section>