<section id="covers">
  <div class="container container-covers">
    <h2 class="title-covers">Covers</h2>
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-desc.jpg    1x,
                    ./img/imgCovers/slogan-1-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-tab.jpg    1x,
                    ./img/imgCovers/slogan-1-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-mob.jpg    1x,
                    ./img/imgCovers/slogan-1-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/slogan-1-desc.jpg "
                  alt="Slogan"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/sport-4-desc.jpg    1x,
                    ./img/imgCovers/sport-4-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/sport-4-tab.jpg    1x,
                    ./img/imgCovers/sport-4-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/sport-4-mob.jpg    1x,
                    ./img/imgCovers/sport-4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/sport-4-desc.jpg"
                  alt="Sport"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-desc.jpg    1x,
                    ./img/imgCovers/harvest-5-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-tab.jpg    1x,
                    ./img/imgCovers/harvest-5-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-mob.jpg    1x,
                    ./img/imgCovers/harvest-5-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/harvest-5-desc.jpg"
                  alt="Harvest"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/brand-6-desc.jpg    1x,
                    ./img/imgCovers/brand-6-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/brand-6-tab.jpg    1x,
                    ./img/imgCovers/brand-6-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/brand-6-mob.jpg    1x,
                    ./img/imgCovers/brand-6-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/brand-6-desc.jpg"
                  alt="Brand"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-desc.jpg    1x,
                    ./img/imgCovers/mimino-7-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-tab.jpg    1x,
                    ./img/imgCovers/mimino-7-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-mob.jpg    1x,
                    ./img/imgCovers/mimino-7-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/mimino-7-desc.jpg"
                  alt="Mimino"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-desc.jpg    1x,
                    ./img/imgCovers/embroidery-8-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-tab.jpg    1x,
                    ./img/imgCovers/embroidery-8-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-mob.jpg    1x,
                    ./img/imgCovers/embroidery-8-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/embroidery-8-desc.jpg"
                  alt="Embroidery"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-desc.jpg    1x,
                    ./img/imgCovers/vegetables-9-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-tab.jpg    1x,
                    ./img/imgCovers/vegetables-9-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-mob.jpg    1x,
                    ./img/imgCovers/vegetables-9-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/vegetables-9-desc.jpg"
                  alt="Vegetables"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/body-10-desc.jpg    1x,
                    ./img/imgCovers/body-10-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/body-10-tab.jpg    1x,
                    ./img/imgCovers/body-10-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/body-10-mob.jpg    1x,
                    ./img/imgCovers/body-10-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/body-10-desc.jpg"
                  alt="Body"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/finances-11-desc.jpg    1x,
                    ./img/imgCovers/finances-11-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/finances-11-tab.jpg    1x,
                    ./img/imgCovers/finances-11-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/finances-11-mob.jpg    1x,
                    ./img/imgCovers/finances-11-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/finances-11-desc.jpg"
                  alt="Finances"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/english-12-desc.jpg    1x,
                    ./img/imgCovers/english-12-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/english-12-tab.jpg    1x,
                    ./img/imgCovers/english-12-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/english-12-mob.jpg    1x,
                    ./img/imgCovers/english-12-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/english-12-desc.jpg"
                  alt="English"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/brand-6-desc.jpg    1x,
                    ./img/imgCovers/brand-6-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/brand-6-tab.jpg    1x,
                    ./img/imgCovers/brand-6-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/brand-6-mob.jpg    1x,
                    ./img/imgCovers/brand-6-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/brand-6-desc.jpg"
                  alt="Brand"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-desc.jpg    1x,
                    ./img/imgCovers/mimino-7-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-tab.jpg    1x,
                    ./img/imgCovers/mimino-7-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-mob.jpg    1x,
                    ./img/imgCovers/mimino-7-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/mimino-7-desc.jpg"
                  alt="Mimino"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-desc.jpg    1x,
                    ./img/imgCovers/embroidery-8-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-tab.jpg    1x,
                    ./img/imgCovers/embroidery-8-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-mob.jpg    1x,
                    ./img/imgCovers/embroidery-8-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/embroidery-8-desc.jpg"
                  alt="Embroidery"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-desc.jpg    1x,
                    ./img/imgCovers/vegetables-9-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-tab.jpg    1x,
                    ./img/imgCovers/vegetables-9-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-mob.jpg    1x,
                    ./img/imgCovers/vegetables-9-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/vegetables-9-desc.jpg"
                  alt="Vegetables"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/body-10-desc.jpg    1x,
                    ./img/imgCovers/body-10-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/body-10-tab.jpg    1x,
                    ./img/imgCovers/body-10-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/body-10-mob.jpg    1x,
                    ./img/imgCovers/body-10-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/body-10-desc.jpg"
                  alt="Body"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/finances-11-desc.jpg    1x,
                    ./img/imgCovers/finances-11-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/finances-11-tab.jpg    1x,
                    ./img/imgCovers/finances-11-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/finances-11-mob.jpg    1x,
                    ./img/imgCovers/finances-11-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/finances-11-desc.jpg"
                  alt="Finances"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/english-12-desc.jpg    1x,
                    ./img/imgCovers/english-12-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/english-12-tab.jpg    1x,
                    ./img/imgCovers/english-12-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/english-12-mob.jpg    1x,
                    ./img/imgCovers/english-12-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/english-12-desc.jpg"
                  alt="English"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-desc.jpg    1x,
                    ./img/imgCovers/slogan-1-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-tab.jpg    1x,
                    ./img/imgCovers/slogan-1-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-mob.jpg    1x,
                    ./img/imgCovers/slogan-1-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/slogan-1-desc.jpg "
                  alt="Slogan"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/sport-4-desc.jpg    1x,
                    ./img/imgCovers/sport-4-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/sport-4-tab.jpg    1x,
                    ./img/imgCovers/sport-4-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/sport-4-mob.jpg    1x,
                    ./img/imgCovers/sport-4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/sport-4-desc.jpg"
                  alt="Sport"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-desc.jpg    1x,
                    ./img/imgCovers/harvest-5-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-tab.jpg    1x,
                    ./img/imgCovers/harvest-5-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-mob.jpg    1x,
                    ./img/imgCovers/harvest-5-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/harvest-5-desc.jpg"
                  alt="Harvest"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-desc.jpg    1x,
                    ./img/imgCovers/vegetables-9-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-tab.jpg    1x,
                    ./img/imgCovers/vegetables-9-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-mob.jpg    1x,
                    ./img/imgCovers/vegetables-9-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/vegetables-9-desc.jpg"
                  alt="Vegetables"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/body-10-desc.jpg    1x,
                    ./img/imgCovers/body-10-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/body-10-tab.jpg    1x,
                    ./img/imgCovers/body-10-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/body-10-mob.jpg    1x,
                    ./img/imgCovers/body-10-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/body-10-desc.jpg"
                  alt="Body"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/finances-11-desc.jpg    1x,
                    ./img/imgCovers/finances-11-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/finances-11-tab.jpg    1x,
                    ./img/imgCovers/finances-11-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/finances-11-mob.jpg    1x,
                    ./img/imgCovers/finances-11-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/finances-11-desc.jpg"
                  alt="Finances"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/english-12-desc.jpg    1x,
                    ./img/imgCovers/english-12-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/english-12-tab.jpg    1x,
                    ./img/imgCovers/english-12-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/english-12-mob.jpg    1x,
                    ./img/imgCovers/english-12-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/english-12-desc.jpg"
                  alt="English"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-desc.jpg    1x,
                    ./img/imgCovers/slogan-1-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-tab.jpg    1x,
                    ./img/imgCovers/slogan-1-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-mob.jpg    1x,
                    ./img/imgCovers/slogan-1-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/slogan-1-desc.jpg "
                  alt="Slogan"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/sport-4-desc.jpg    1x,
                    ./img/imgCovers/sport-4-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/sport-4-tab.jpg    1x,
                    ./img/imgCovers/sport-4-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/sport-4-mob.jpg    1x,
                    ./img/imgCovers/sport-4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/sport-4-desc.jpg"
                  alt="Sport"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-desc.jpg    1x,
                    ./img/imgCovers/harvest-5-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-tab.jpg    1x,
                    ./img/imgCovers/harvest-5-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-mob.jpg    1x,
                    ./img/imgCovers/harvest-5-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/harvest-5-desc.jpg"
                  alt="Harvest"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/brand-6-desc.jpg    1x,
                    ./img/imgCovers/brand-6-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/brand-6-tab.jpg    1x,
                    ./img/imgCovers/brand-6-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/brand-6-mob.jpg    1x,
                    ./img/imgCovers/brand-6-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/brand-6-desc.jpg"
                  alt="Brand"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-desc.jpg    1x,
                    ./img/imgCovers/mimino-7-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-tab.jpg    1x,
                    ./img/imgCovers/mimino-7-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-mob.jpg    1x,
                    ./img/imgCovers/mimino-7-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/mimino-7-desc.jpg"
                  alt="Mimino"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-desc.jpg    1x,
                    ./img/imgCovers/embroidery-8-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-tab.jpg    1x,
                    ./img/imgCovers/embroidery-8-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-mob.jpg    1x,
                    ./img/imgCovers/embroidery-8-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/embroidery-8-desc.jpg"
                  alt="Embroidery"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/english-12-desc.jpg    1x,
                    ./img/imgCovers/english-12-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/english-12-tab.jpg    1x,
                    ./img/imgCovers/english-12-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/english-12-mob.jpg    1x,
                    ./img/imgCovers/english-12-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/english-12-desc.jpg"
                  alt="English"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-desc.jpg    1x,
                    ./img/imgCovers/slogan-1-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-tab.jpg    1x,
                    ./img/imgCovers/slogan-1-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/slogan-1-mob.jpg    1x,
                    ./img/imgCovers/slogan-1-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/slogan-1-desc.jpg "
                  alt="Slogan"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/sport-4-desc.jpg    1x,
                    ./img/imgCovers/sport-4-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/sport-4-tab.jpg    1x,
                    ./img/imgCovers/sport-4-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/sport-4-mob.jpg    1x,
                    ./img/imgCovers/sport-4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/sport-4-desc.jpg"
                  alt="Sport"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-desc.jpg    1x,
                    ./img/imgCovers/harvest-5-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-tab.jpg    1x,
                    ./img/imgCovers/harvest-5-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/harvest-5-mob.jpg    1x,
                    ./img/imgCovers/harvest-5-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/harvest-5-desc.jpg"
                  alt="Harvest"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/brand-6-desc.jpg    1x,
                    ./img/imgCovers/brand-6-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/brand-6-tab.jpg    1x,
                    ./img/imgCovers/brand-6-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/brand-6-mob.jpg    1x,
                    ./img/imgCovers/brand-6-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/brand-6-desc.jpg"
                  alt="Brand"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-desc.jpg    1x,
                    ./img/imgCovers/mimino-7-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-tab.jpg    1x,
                    ./img/imgCovers/mimino-7-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/mimino-7-mob.jpg    1x,
                    ./img/imgCovers/mimino-7-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/mimino-7-desc.jpg"
                  alt="Mimino"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-desc.jpg    1x,
                    ./img/imgCovers/embroidery-8-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-tab.jpg    1x,
                    ./img/imgCovers/embroidery-8-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/embroidery-8-mob.jpg    1x,
                    ./img/imgCovers/embroidery-8-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/embroidery-8-desc.jpg"
                  alt="Embroidery"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-desc.jpg    1x,
                    ./img/imgCovers/vegetables-9-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-tab.jpg    1x,
                    ./img/imgCovers/vegetables-9-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/vegetables-9-mob.jpg    1x,
                    ./img/imgCovers/vegetables-9-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/vegetables-9-desc.jpg"
                  alt="Vegetables"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/body-10-desc.jpg    1x,
                    ./img/imgCovers/body-10-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/body-10-tab.jpg    1x,
                    ./img/imgCovers/body-10-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/body-10-mob.jpg    1x,
                    ./img/imgCovers/body-10-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/body-10-desc.jpg"
                  alt="Body"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgCovers/finances-11-desc.jpg    1x,
                    ./img/imgCovers/finances-11-desc-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/finances-11-tab.jpg    1x,
                    ./img/imgCovers/finances-11-tab-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgCovers/finances-11-mob.jpg    1x,
                    ./img/imgCovers/finances-11-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgCovers/finances-11-desc.jpg"
                  alt="Finances"
                  width="544"
                  height="314"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
