<section class="animate-section" id="covers">
  <div class="container-covers container">
    <h2 class="title-covers">Covers</h2>
    <div class="content">
      <div class="marquee">
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-desk.jpg    1x,
                    ./img/imgcovers/slogan-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-desk.jpg    1x,
                    ./img/imgcovers/slogan-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-mob.jpg    1x,
                    ./img/imgcovers/slogan-1-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/slogan-1-desk.jpg "
                  alt="Slogan"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/sport-4-desk.jpg    1x,
                    ./img/imgcovers/sport-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/sport-4-desk.jpg    1x,
                    ./img/imgcovers/sport-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/sport-4-mob.jpg    1x,
                    ./img/imgcovers/sport-4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/sport-4-desk.jpg"
                  alt="Sport"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-desk.jpg    1x,
                    ./img/imgcovers/harvest-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-desk.jpg    1x,
                    ./img/imgcovers/harvest-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-mob.jpg    1x,
                    ./img/imgcovers/harvest-5-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/harvest-5-desk.jpg"
                  alt="Harvest"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/brand-6-desk.jpg    1x,
                    ./img/imgcovers/brand-6-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/brand-6-desk.jpg    1x,
                    ./img/imgcovers/brand-6-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/brand-6-mob.jpg    1x,
                    ./img/imgcovers/brand-6-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/brand-6-desk.jpg"
                  alt="Brand"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-desk.jpg    1x,
                    ./img/imgcovers/mimino-7-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-desk.jpg    1x,
                    ./img/imgcovers/mimino-7-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-mob.jpg    1x,
                    ./img/imgcovers/mimino-7-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/mimino-7-desk.jpg"
                  alt="Mimino"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-desk.jpg    1x,
                    ./img/imgcovers/embroidery-8-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-desk.jpg    1x,
                    ./img/imgcovers/embroidery-8-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-mob.jpg    1x,
                    ./img/imgcovers/embroidery-8-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/embroidery-8-desk.jpg"
                  alt="Embroidery"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-desk.jpg    1x,
                    ./img/imgcovers/vegetables-9-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-desk.jpg    1x,
                    ./img/imgcovers/vegetables-9-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-mob.jpg    1x,
                    ./img/imgcovers/vegetables-9-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/vegetables-9-desk.jpg"
                  alt="Vegetables"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/body-10-desk.jpg    1x,
                    ./img/imgcovers/body-10-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/body-10-desk.jpg    1x,
                    ./img/imgcovers/body-10-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/body-10-mob.jpg    1x,
                    ./img/imgcovers/body-10-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/body-10-desk.jpg"
                  alt="Body"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/finances-11-desk.jpg    1x,
                    ./img/imgcovers/finances-11-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/finances-11-desk.jpg    1x,
                    ./img/imgcovers/finances-11-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/finances-11-mob.jpg    1x,
                    ./img/imgcovers/finances-11-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/finances-11-desk.jpg"
                  alt="Finances"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/english-12-desk.jpg    1x,
                    ./img/imgcovers/english-12-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/english-12-desk.jpg    1x,
                    ./img/imgcovers/english-12-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/english-12-mob.jpg    1x,
                    ./img/imgcovers/english-12-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/english-12-desk.jpg"
                  alt="English"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/brand-6-desk.jpg    1x,
                    ./img/imgcovers/brand-6-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/brand-6-desk.jpg    1x,
                    ./img/imgcovers/brand-6-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/brand-6-mob.jpg    1x,
                    ./img/imgcovers/brand-6-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/brand-6-desk.jpg"
                  alt="Brand"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-desk.jpg    1x,
                    ./img/imgcovers/mimino-7-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-desk.jpg    1x,
                    ./img/imgcovers/mimino-7-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-mob.jpg    1x,
                    ./img/imgcovers/mimino-7-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/mimino-7-desk.jpg"
                  alt="Mimino"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-desk.jpg    1x,
                    ./img/imgcovers/embroidery-8-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-desk.jpg    1x,
                    ./img/imgcovers/embroidery-8-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-mob.jpg    1x,
                    ./img/imgcovers/embroidery-8-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/embroidery-8-desk.jpg"
                  alt="Embroidery"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-desk.jpg    1x,
                    ./img/imgcovers/vegetables-9-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-desk.jpg    1x,
                    ./img/imgcovers/vegetables-9-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-mob.jpg    1x,
                    ./img/imgcovers/vegetables-9-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/vegetables-9-desk.jpg"
                  alt="Vegetables"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/body-10-desk.jpg    1x,
                    ./img/imgcovers/body-10-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/body-10-desk.jpg    1x,
                    ./img/imgcovers/body-10-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/body-10-mob.jpg    1x,
                    ./img/imgcovers/body-10-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/body-10-desk.jpg"
                  alt="Body"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/finances-11-desk.jpg    1x,
                    ./img/imgcovers/finances-11-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/finances-11-desk.jpg    1x,
                    ./img/imgcovers/finances-11-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/finances-11-mob.jpg    1x,
                    ./img/imgcovers/finances-11-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/finances-11-desk.jpg"
                  alt="Finances"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/english-12-desk.jpg    1x,
                    ./img/imgcovers/english-12-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/english-12-desk.jpg    1x,
                    ./img/imgcovers/english-12-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/english-12-mob.jpg    1x,
                    ./img/imgcovers/english-12-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/english-12-desk.jpg"
                  alt="English"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-desk.jpg    1x,
                    ./img/imgcovers/slogan-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-desk.jpg    1x,
                    ./img/imgcovers/slogan-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-mob.jpg    1x,
                    ./img/imgcovers/slogan-1-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/slogan-1-desk.jpg "
                  alt="Slogan"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/sport-4-desk.jpg    1x,
                    ./img/imgcovers/sport-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/sport-4-desk.jpg    1x,
                    ./img/imgcovers/sport-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/sport-4-mob.jpg    1x,
                    ./img/imgcovers/sport-4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/sport-4-desk.jpg"
                  alt="Sport"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-desk.jpg    1x,
                    ./img/imgcovers/harvest-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-desk.jpg    1x,
                    ./img/imgcovers/harvest-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-mob.jpg    1x,
                    ./img/imgcovers/harvest-5-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/harvest-5-desk.jpg"
                  alt="Harvest"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-desk.jpg    1x,
                    ./img/imgcovers/vegetables-9-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-desk.jpg    1x,
                    ./img/imgcovers/vegetables-9-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-mob.jpg    1x,
                    ./img/imgcovers/vegetables-9-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/vegetables-9-desk.jpg"
                  alt="Vegetables"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/body-10-desk.jpg    1x,
                    ./img/imgcovers/body-10-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/body-10-desk.jpg    1x,
                    ./img/imgcovers/body-10-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/body-10-mob.jpg    1x,
                    ./img/imgcovers/body-10-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/body-10-desk.jpg"
                  alt="Body"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/finances-11-desk.jpg    1x,
                    ./img/imgcovers/finances-11-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/finances-11-desk.jpg    1x,
                    ./img/imgcovers/finances-11-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/finances-11-mob.jpg    1x,
                    ./img/imgcovers/finances-11-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/finances-11-desk.jpg"
                  alt="Finances"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/english-12-desk.jpg    1x,
                    ./img/imgcovers/english-12-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/english-12-desk.jpg    1x,
                    ./img/imgcovers/english-12-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/english-12-mob.jpg    1x,
                    ./img/imgcovers/english-12-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/english-12-desk.jpg"
                  alt="English"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-desk.jpg    1x,
                    ./img/imgcovers/slogan-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-desk.jpg    1x,
                    ./img/imgcovers/slogan-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-mob.jpg    1x,
                    ./img/imgcovers/slogan-1-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/slogan-1-desk.jpg "
                  alt="Slogan"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/sport-4-desk.jpg    1x,
                    ./img/imgcovers/sport-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/sport-4-desk.jpg    1x,
                    ./img/imgcovers/sport-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/sport-4-mob.jpg    1x,
                    ./img/imgcovers/sport-4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/sport-4-desk.jpg"
                  alt="Sport"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-desk.jpg    1x,
                    ./img/imgcovers/harvest-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-desk.jpg    1x,
                    ./img/imgcovers/harvest-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-mob.jpg    1x,
                    ./img/imgcovers/harvest-5-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/harvest-5-desk.jpg"
                  alt="Harvest"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/brand-6-desk.jpg    1x,
                    ./img/imgcovers/brand-6-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/brand-6-desk.jpg    1x,
                    ./img/imgcovers/brand-6-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/brand-6-mob.jpg    1x,
                    ./img/imgcovers/brand-6-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/brand-6-desk.jpg"
                  alt="Brand"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-desk.jpg    1x,
                    ./img/imgcovers/mimino-7-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-desk.jpg    1x,
                    ./img/imgcovers/mimino-7-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-mob.jpg    1x,
                    ./img/imgcovers/mimino-7-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/mimino-7-desk.jpg"
                  alt="Mimino"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-desk.jpg    1x,
                    ./img/imgcovers/embroidery-8-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-desk.jpg    1x,
                    ./img/imgcovers/embroidery-8-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-mob.jpg    1x,
                    ./img/imgcovers/embroidery-8-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/embroidery-8-desk.jpg"
                  alt="Embroidery"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
        </ul>
        <ul class="marquee-inner">
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/english-12-desk.jpg    1x,
                    ./img/imgcovers/english-12-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/english-12-desk.jpg    1x,
                    ./img/imgcovers/english-12-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/english-12-mob.jpg    1x,
                    ./img/imgcovers/english-12-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/english-12-desk.jpg"
                  alt="English"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-desk.jpg    1x,
                    ./img/imgcovers/slogan-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-desk.jpg    1x,
                    ./img/imgcovers/slogan-1-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/slogan-1-mob.jpg    1x,
                    ./img/imgcovers/slogan-1-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/slogan-1-desk.jpg "
                  alt="Slogan"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/sport-4-desk.jpg    1x,
                    ./img/imgcovers/sport-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/sport-4-desk.jpg    1x,
                    ./img/imgcovers/sport-4-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/sport-4-mob.jpg    1x,
                    ./img/imgcovers/sport-4-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/sport-4-desk.jpg"
                  alt="Sport"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-desk.jpg    1x,
                    ./img/imgcovers/harvest-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-desk.jpg    1x,
                    ./img/imgcovers/harvest-5-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/harvest-5-mob.jpg    1x,
                    ./img/imgcovers/harvest-5-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/harvest-5-desk.jpg"
                  alt="Harvest"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/brand-6-desk.jpg    1x,
                    ./img/imgcovers/brand-6-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/brand-6-desk.jpg    1x,
                    ./img/imgcovers/brand-6-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/brand-6-mob.jpg    1x,
                    ./img/imgcovers/brand-6-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/brand-6-desk.jpg"
                  alt="Brand"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-desk.jpg    1x,
                    ./img/imgcovers/mimino-7-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-desk.jpg    1x,
                    ./img/imgcovers/mimino-7-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/mimino-7-mob.jpg    1x,
                    ./img/imgcovers/mimino-7-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/mimino-7-desk.jpg"
                  alt="Mimino"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-desk.jpg    1x,
                    ./img/imgcovers/embroidery-8-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-desk.jpg    1x,
                    ./img/imgcovers/embroidery-8-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/embroidery-8-mob.jpg    1x,
                    ./img/imgcovers/embroidery-8-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/embroidery-8-desk.jpg"
                  alt="Embroidery"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-desk.jpg    1x,
                    ./img/imgcovers/vegetables-9-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-desk.jpg    1x,
                    ./img/imgcovers/vegetables-9-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/vegetables-9-mob.jpg    1x,
                    ./img/imgcovers/vegetables-9-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/vegetables-9-desk.jpg"
                  alt="Vegetables"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/body-10-desk.jpg    1x,
                    ./img/imgcovers/body-10-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/body-10-desk.jpg    1x,
                    ./img/imgcovers/body-10-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/body-10-mob.jpg    1x,
                    ./img/imgcovers/body-10-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/body-10-desk.jpg"
                  alt="Body"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
          <li class="marquee-line">
            <div>
              <picture>
                <source
                  srcset="
                    ./img/imgcovers/finances-11-desk.jpg    1x,
                    ./img/imgcovers/finances-11-desk-2x.jpg 2x
                  "
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/finances-11-desk.jpg    1x,
                    ./img/imgcovers/finances-11-desk-2x.jpg 2x
                  "
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./img/imgcovers/finances-11-mob.jpg    1x,
                    ./img/imgcovers/finances-11-mob-2x.jpg 2x
                  "
                  media="(max-width: 767px)"
                />
                <img
                  src="./img/imgcovers/finances-11-desk.jpg"
                  alt="Finances"
                  width="544"
                  height="314"
                  class="img-mob"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
