<section class="section" id="faq">
    <section id="faq-section" class="faq">
        <div class="faq-container"> 
          <div class="faq-item"> 
            <h3>What programming languages are most often used in your project?</h3> 
            <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client-side) and backend (server-side) languages.</p> 
          </div> 
          <div class="faq-item"> 
            <h3>How can I contact you?</h3> 
            <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client-side) and backend (server-side) languages.</p> 
          </div> 
          <div class="faq-item"> 
            <h3>What are the deadlines for the project?</h3> 
            <p>The terms of the project depend on meeting a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is crucial for clarity.</p> 
          </div> 
          <div class="faq-item"> 
            <h3>Do you provide advice or support?</h3> 
            <p>Yes, we offer advice and support, especially during the primary phase of the project.</p> 
          </div> 
          <div class="faq-item"> 
            <h3>What payment methods do you accept?</h3> 
            <p>Payment methods you can use are debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments for cryptocurrencies such as Bitcoin, Ethereum and Tether.</p> 
          </div> 
          <div class="faq-item"> 
            <h3>What does the process of developing a software product look like from idea to implementation?</h3> 
            <p>The process usually involves initial brainstorming and design, followed by prototyping and development.</p> 
          </div> 
        </div> 
      </section> 