<section class="section" id="faq">
  <section id="faq-section">
    <div class="faq-container">
      <!-- Первый вопрос -->
      <div class="faq-item">
        <div class="faq-header">
          <h3>What programming languages are most often used in your project?</h3>
          <span class="faq-arrow">▼</span>
        </div>
        <p class="faq-content">
          In the field of web development, there are various technologies and programming languages.
          Typically, this includes a combination of frontend (client side) and backend (server side) languages.
        </p>
      </div>
      <!-- Второй вопрос -->
      <div class="faq-item">
        <div class="faq-header">
          <h3>What are the deadlines for the project?</h3>
          <span class="faq-arrow">▼</span>
        </div>
        <p class="faq-content">
          The terms of project implementation depend to a large extent on a number of factors, such as
          the scope of the project, its complexity, and the availability of resources.
        </p>
      </div>
      <!-- Третий вопрос -->
      <div class="faq-item">
        <div class="faq-header">
          <h3>What payment methods do you accept?</h3>
          <span class="faq-arrow">▼</span>
        </div>
        <p class="faq-content">
          Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment
          systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum, and others.
        </p>
      </div>
      <!-- Четвёртый вопрос -->
      <div class="faq-item">
        <div class="faq-header">
          <h3>How can I contact you?</h3>
          <span class="faq-arrow">▼</span>
        </div>
        <p class="faq-content">
          You can contact us through email, phone, or our website's contact form. We're happy to help!
        </p>
      </div>
      <!-- Пятый вопрос -->
      <div class="faq-item">
        <div class="faq-header">
          <h3>Do you provide advice or support?</h3>
          <span class="faq-arrow">▼</span>
        </div>
        <p class="faq-content">
          Yes, we offer advice and support, especially during the initial stages of your project.
        </p>
      </div>
      <!-- Шестой вопрос -->
      <div class="faq-item">
        <div class="faq-header">
          <h3>What does the process of developing a software product look like from idea to implementation?</h3>
          <span class="faq-arrow">▼</span>
        </div>
        <p class="faq-content">
          The process usually involves initial brainstorming, creating a project plan, designing, development,
          testing, and finally, launching the product.
        </p>
      </div>
    </div>
  </section>
  