<section class="header" id="header">
  <div class="navigation-menu container">
    <a class="logo-link" href="../index.html">
      <img src="../img/SVG/logo.svg" alt="logo" />
      <!-- <svg class="logo" width="32" height="32">
        <use href="../img/portfolio-sprite.svg#icon-menu"></use>
      </svg> -->
      <p class="logo-name">jefferson*</p>
    </a>
    <button class="menu-btn">
      <img src="../img/SVG/menu-open.svg" alt="menu-button" />
    </button>
    <button class="menu-tab">Menu</button>
    <button class="order-btn order-btn-tab">
      <a href="./worktogether.html">Order the project</a>
    </button>
  </div>
  <div class="modal-overlay">
    <div class="modal">
      <button class="modal-close-btn">
        <img src="../img/SVG/menu-close.svg" alt="close-button" />
      </button>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="#aboutme" alt="About me">About me</a>
          </li>
          <li class="menu-item">
            <a href="#benefits" alt="Benefits">Benefits</a>
          </li>
          <li class="menu-item">
            <a href="#projects" alt="Projects">Projects</a>
          </li>
          <li class="menu-item">
            <a href="#faq" alt="FAQ">FAQ</a>
          </li>
        </ul>
      </nav>
      <button class="order-btn">
        <a href="./worktogether.html">Order the project</a>
      </button>
    </div>
  </div>
</section>
