<section class="section" id="reviews">
  <div class="reviews-container">
    <h2 class="hidden-header">REVIEWS</h2>

    <ul class="reviews-list">
      <div class="swiper reviews-swiper-container">
        <div class="swiper-wrapper reviews-swiper-wrapper"></div>
      </div>
    </ul>
    <ul class="review-scroll-btns">
      <div class="reviews-btns-wrapper">
        <button
          class="scroll-btn reviews-swiper-left"
          type="button"
          aria-label="Previous slide"
        >
          <svg class="scroll-svg">
            <use href="./img/portfolio-sprite.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button
          class="scroll-btn reviews-swiper-right"
          type="button"
          aria-label="Next slide"
        >
          <svg class="scroll-svg">
            <use
              href="./img/portfolio-sprite.svg#icon-arrow-narrow-right"
            ></use>
          </svg>
        </button>
      </div>
    </ul>
  </div>
</section>
