<section class="section" id="reviews">
  <h2 class="hidden-header">REVIEWS</h2>
  <ul class="reviews-list">
    <li class="reviews-list-item">
      <img
        class="reviews-avatar"
        src="https://ftp.goit.study/img/avatars/4.jpg"
        alt="avatar"
      />
      <div class="reviews-item-content">
        <h3 class="reviews-item-title">Natalia</h3>
        <p class="reviews-item-text">
          Work with was extraordinary! He turned out to be a very competent and
          responsible specialist. The projects were completed on time and the
          result exceeded my expectations
        </p>
      </div>
    </li>
  </ul>
  <ul class="review-scroll-btns">
    <button class="scroll-btn">
      <svg class="scroll-svg">
        <use
          href="/src/img/SVG/portfolio-sprite.svg#icon-arrow-narrow-right"
        ></use>
      </svg>
    </button>
    <button class="scroll-btn">
      <svg class="scroll-svg">
        <use
          href="/src/img/SVG/portfolio-sprite.svg#icon-arrow-narrow-left"
        ></use>
      </svg>
    </button>
  </ul>
</section>
